<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, inictial-scale=1, user-scalable=yes">
    <title>Moustache GED</title>
    

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


</head>
<body>
  <table>
    <tr>
      <td>Nome</td>
      <td>Senha</td>
    </tr>
    <%for(var i=0; i<lista.length; i++) {%> 
      <tr>
        <td><%=lista[i].nome%></td>
        <td><%=lista[i].senha%></td>
      </tr>  
    <%}%>
    
  </table>
</body>
</html>
